.md-nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .md-nav__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  

  .chevron {
    font-size: 24px; /* Adjust size of the Material Icons chevron */
  }
  
  .md-nav__item--active > .md-nav > .md-nav__list {
    display: block;
  }
  
  .md-nav__item .mdi {
    padding:0.2em;
    background-color: #83aba349;
    border-radius: 0.5em;
  }
  .md-nav__item .mdi:hover {
    background-color: #83ab8a3f;
  }
  
  .md-nav__item--active > .md-nav {
    display: block; /* Show active submenu */
  }
  /* Optional: Add styles for collapsed/expanded states if needed */
:root {
    --md-primary-fg-color:        #9fd0c7;
    --md-primary-fg-color--light: #a6e8ce;
    --md-primary-fg-color--dark:  #83aba3;
  }
  .md-grid{
    max-width: 75rem;
  }
.text-icon{
    width:1em;
    position: relative;
    top: 0.14em;
}
.tip{
    padding: 3em;
    background-color: rgba(127, 255, 212, 0.305);
    border-radius: 1em;
    position: relative;
}
.warning{
  padding: 3em;
  background-color: rgba(240, 111, 106, 0.58);
  border-radius: 1em;
  position: relative;
}
.tip .mdi, .warning .mdi {
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin: 0.6em;
    border-radius: 0.8em;
    display: flex;
    justify-content: space-around;
    font-size: x-large;
}
.tip .mdi {
  background: aquamarine;
}
.warning .mdi {
  background-color: rgba(255, 14, 14, 0.58);
}
.tip span:not(.mdi){
    display: flex;
    align-items: center;
    padding: 1em;
    font-style: italic;
    border-radius: 1em;
    position: relative;
    top:0.5em;
}
.main-content-img-container {
    background: aliceblue;
    display: flex;
    align-items: center;
    border-radius: 2em;
}
.main-content-img-container img:not(.text-icon) {
    display: flex;
    border-radius: 0.3em;
    background-color: #333;
    margin: 3em;
    margin-left: auto;
    margin-right: auto;
}
.md-header__topic:first-child {
    font-weight: 300;
}
